<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seller66.admin.mapper.ExclusiveOffersMapper">
  <resultMap id="BaseResultMap" type="com.seller66.admin.entity.ExclusiveOffers">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <select id="getAll" resultType="com.seller66.admin.dto.ExclusiveOffersDTO">
    SELECT * FROM exclusive_offers ORDER BY create_time DESC
    </select>
</mapper>