<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seller66.admin.mapper.SellerToolsMapper">
  <resultMap id="BaseResultMap" type="com.seller66.admin.entity.SellerTools">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="rating" jdbcType="DECIMAL" property="rating" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="purchase_count" jdbcType="BIGINT" property="purchaseCount" />
    <result column="free_trial_days" jdbcType="INTEGER" property="freeTrialDays" />
    <result column="free_trial_link" jdbcType="VARCHAR" property="freeTrialLink" />
    <result column="detailed_pricing" jdbcType="VARCHAR" property="detailedPricing" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="review_link" jdbcType="VARCHAR" property="reviewLink" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="short_description" jdbcType="LONGVARCHAR" property="shortDescription" />
    <result column="highlights" jdbcType="LONGVARCHAR" property="highlights" />
    <result column="detailed_features" jdbcType="LONGVARCHAR" property="detailedFeatures" />
  </resultMap>
</mapper>